<p>Contacts Lists</p>

<h4>List of contacts</h4>

<ul>
    <li *ngFor="let contact of contactList">
        {{ contact.firstName }} {{ contact.lastName }}
    </li>
</ul>

<h3>Create New Contact</h3>
<code>form</code>
<div *ngIf="msgTrue">Contact created</div>
<br>

<form #addNewContactForm="ngForm" (submit)="addNewContact(addNewContactForm)">
    <div><label>id</label>
        <input type="text" class="form-control" name="id" required ngModel /></div>
    <div><input type="text" class="form-control" name="firstName" required ngModel /></div>
    <div><input type="text" class="form-control" name="lastName" required ngModel /></div>
<div><button class="form-control" [disabled]="!addNewContactForm.valid">ADD NEW CONTACT</button></div>

</form>